app/bot/config/accu_keys.yaml     # API ключи AcuuWeather
app/bot/config/env/api.env        # API ключи сервисов и телеграма

app/bot/storage/bd/*.db               # SQLite база данных
app/bot/logger/logs/*.log              # Логи приложения
app/bot/storage/cache/**/*            # Кэш погодных данных

tests/app/bot/storage/aggregator/weather_sources/tests/**/*.json
*.test
