app/bot/config/accu_keys.yaml     # API ключи AcuuWeather
app/bot/config/api_keys.yaml      # API ключи сервисов и телеграма
app/bot/storage/bd/               # SQLite база данных
app/bot/logger/logs/              # Логи приложения
app/bot/storage/cache/            # Кэш погодных данных
