# API ключи и конфигурации
/app/bot/config/accu_keys.yaml
/app/bot/config/env/api.env

# Базы данных
/app/bot/storage/bd/*.db
/app/bot/storage/bd/*.sqlite

# Логи
/app/bot/logger/logs/

# Кэш
/app/bot/storage/cache/

# Тестовые данные
/app/bot/storage/aggregator/weather_sources/tests/**/*.json

*.test
